.box .image_fit1 img{
    display: center;
    margin-left: 30%;
    margin-right: auto;
    width: 40%;
    align-content: center;
   
}
.content p {
font-family: "Monospace", sans-serif;
padding-left: 40%;

}
